<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>The Bill Form</h2>
<p><b>Fill in the form and click the button to get the results</b></p>
<form action="/results">
    {{billform.amount.label}} {{billform.amount}}
    <br>
    {{billform.period.label}} {{billform.period}}
    <hr>
    <h3>First Flatmate</h3>
    {{billform.name1.label}} {{billform.name1}}
    <br>
    {{billform.days_in_house1.label}} {{billform.days_in_house1}}
    <hr>
    <h3>Second Flatmate</h3>
    {{billform.name2.label}} {{billform.name2}}
    <br>
    {{billform.days_in_house2.label}} {{billform.days_in_house2}}
    <br>
    <br>
    {{billform.button}}
</form>
</body>
</html>