/* General styles */
body {
  width:100%;
  /* margin-left:auto;
  margin-right:auto; */
  text-align: center;
  height: 100vh;
  margin: 10px;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

h3 {
  font-size: 2.2em;
  margin-bottom: 40px;
  color: rgb(112, 123, 126);
}

button {
  padding: 14px 30px;
  font-size: 1.2em;
  margin: 8px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

button#rock {
  background-color: #d2b48c; /* light-brown */
}

button#paper {
  background-color: #add8e6; /* light-blue */
}

button#scissors {
  background-color: #ffa07a; /* light-orange */
}

button#reset {
  background-color: #73e395;
  margin-top: 25px;
}

button#autoplay {
  background-color: #2ca19d;
  margin-top: 25px;
}

button:hover {
  opacity: 0.8;
}

#result-message {
  font-size: 1.7em;
  margin-top: 20px;
  margin-bottom: -18px;
}

#result-message-final {
  font-size: 2em;
  font-weight: bold;
  color: #f0f0f0
}


#result-message-final.win {
  color: green;
}

#result-message-final.tie {
  color: gray;
}

#result-message-final.loss {
  color: red;
}

li, p {
  font-size: 1.5em;
}

#games-played {
  margin-top: 18px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  border: none;
  width: 50%;
  margin: 0 auto;
  table-layout: fixed;
}

th, td {
  border: 0.6px solid #d6cdcd;
  padding: 12px;
  font-size: 1.2em;
}

th {
  background-color: #f2f2f2;
}
